

#profesionales {
  scroll-margin-top: 8vh;
}
#inicio h2,
#inicio p {
  color: #6b4636;
}

#inicio .btn {
  background-color: #f2a77f;
  color: #6b4636;
  border: none;
}

#inicio .btn:hover {
  background-color: #e89268;
  color: #6b4636;
}

/* Responsive */


  .hero h2 {
    font-size: 3rem;
  }

  .hero-contenido {
    width: 50%;
  }

  .boton-profesionales {
    max-width: max-content;
    padding: 16px 25px;
  }


